header {
    background-color: #1e1f29;
    padding: 0.75rem 2rem;
    border-bottom: 3px solid var(--accent-green);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 10;
}

h1 { 
    margin: 0; 
    color: var(--accent-green); 
    font-size: 1.8rem; 
}